<ul id="books_list">
    {{#each books}}
    <li book-title="{{title}}" book-isbn="{{ISBN}}" book-authors="{{authors}}">
        <div class="book_container">
            <div class="book_info_container">
                <div class="book_img_container">
                    <img src="../{{cover_picture}}" alt="Book cover picture" class="book_cover_img" />
                </div>
                <div class="book_info">
                    <p class="book_title">{{title}}</p>
                    <p class="book_info_text">ISBN {{ISBN}}</p>
                    <p class="book_info_text">{{authors}}</p>
                    <div class="book_rating_container">
                        <div class="stars_container">{{{renderStars rating}}}</div>
                        <p class="book_info_text">{{rating}}</p>
                    </div>
                </div>
            </div>

            <div class="book_btns_container">
                <button type="button" class="add_book_btn button_green button" data-id="{{id}}">Add book</button>
            </div>
        </div>
    </li>
    {{/each}}
</ul>