<ul id="course_list">
    {{#each courses}}
    <li data-name="{{name}}" data-code="{{module_code}}">
        <div class="course_container">
            <p>{{module_code}} - {{name}}</p>
            <button class="button button_green" onClick="getBooksForCourse('{{id}}')">See course</button>
        </div>
    </li>
    {{/each}}
</ul>
