<p id="edit_review_title">{{bookName}}</p>
<form id="edit_review_form">
    <div class="new_review_container">
        <p>Overall Rating</p>
        <div id="edit_review_star_rating">
            <i class="nr_star fa-solid fa-star" data-value="1"></i>
            <i class="nr_star fa-solid fa-star" data-value="2"></i>
            <i class="nr_star fa-solid fa-star" data-value="3"></i>
            <i class="nr_star fa-solid fa-star" data-value="4"></i>
            <i class="nr_star fa-solid fa-star" data-value="5"></i>
        </div>
        <p id="edit_review_selected_rating" style="display: none">{{rating}}</p>
    </div>
    <div class="new_review_container">
        <label id="edit_review_label" for="edit_review_textarea">Review Text</label>
        <textarea id="edit_review_textarea" name="edit_review" placeholder="What do you think about this book?">
{{reviewText}}</textarea
        >
    </div>
    <div class="modal_btn_container">
        <button id="submit_edit_review" class="button button_green" data-bookId="{{bookId}}" data-userId="{{userId}}" type="submit">Update</button>
        <button id="cancel_edit_review" class="button button_gray" type="button">Cancel</button>
    </div>
</form>
