<ul id="reviews_list">
    {{#each reviews}}
    <li>
        <div class="review_container">
            <div class="review_info_container">
                <div class="review_left_box">
                    <div class="review_top_box">
                        <div class="user_img_container">
                            <img src="../{{profile_picture}}" alt="User profile picture" />
                        </div>

                        <div class="user_name_container">
                            <p class="user_name">{{first_name}} {{last_name}}</p>
                            <p class="review_date">Created on {{created_at}}</p>
                        </div>
                    </div>

                    <div class="review_bottom_box">
                        <p>rating</p>
                        <div class="stars_container">{{{renderStars rating}}}</div>
                    </div>
                </div>

                <div class="review_right_box"></div>
            </div>

            <div class="review_text_container">
                <p>{{comment}}</p>
                <i class="review_arrow fa-solid fa-caret-down"></i>
            </div>
        </div>
    </li>
    {{/each}}
</ul>
